pywin32
SpeechRecognition
pyaudio
psutil
edge-tts
pygame
google-generativeai
python-dotenv
pywhatkit
wikipedia
customtkinter
packaging
opencv-python
pyautogui
flask
flask-socketio
eventlet
gunicorn
python-gnupg
flask-cors
