SpeechRecognition
pyaudio
psutil
edge-tts
pygame
google-generativeai
python-dotenv
pywhatkit
wikipedia
customtkinter
packaging
opencv-python-headless
pyautogui
flask
gunicorn
flask-socketio
eventlet
gunicorn
python-gnupg
flask-cors
stripe
pyjwt
pyopenssl
